<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Backup (push to git) Build Job Definition Files (.xml) used by Jenkins Jobs.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>Server</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>192.168.168.133</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>59 23 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>D:\VitalAxis\Jenkins_Build\ORION</customWorkspace>
  <builders>
    <hudson.tasks.Ant plugin="ant@497.v94e7d9fffa_b_9">
      <targets>va.main.Deploy</targets>
      <antName>ANT_HOME</antName>
      <buildFile>Backup_Jenkins_Jobs.xml</buildFile>
    </hudson.tasks.Ant>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.27"/>
  </buildWrappers>
</project>