<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Restart selected server.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>Server</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>192.168.168.129</string>
              <string>192.168.168.130</string>
              <string>192.168.168.131</string>
              <string>192.168.168.60</string>
              <string>192.168.168.45</string>
              <string>192.168.168.81</string>
              <string>192.168.168.26</string>
              <string>192.168.168.27</string>
              <string>192.168.168.94</string>
              <string>192.168.168.68</string>
              <string>192.168.168.63</string>
              <string>192.168.168.115</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>D:\VitalAxis\Jenkins_Build\ORION</customWorkspace>
  <builders>
    <hudson.plugins.powershell.PowerShell plugin="powershell@2.1">
      <command>PowerShell.exe .\Restart_Server.ps1 $ENV:Server</command>
      <configuredLocalRules/>
      <useProfile>true</useProfile>
      <stopOnError>true</stopOnError>
    </hudson.plugins.powershell.PowerShell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.27"/>
  </buildWrappers>
</project>